* {
    background-color: #dbdbdb;
    align-content: center;
    box-sizing: border-box;
}

/*Potential fonts: Roboto Slab, Mont Serrat, Playfair Display, League Spartan, LTC Bodoni 175, Calluna, Futura PT, Freight Display Pro*/

/*Start of header section*/
.header {
    padding: 20px;
    font-family: 'Roboto Slab''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F78a10;

}

.header h1 {
    display: inline-block;
    background: transparent;
}

/*potential backup color E6903c*/

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: transparent;
}

.header div ul {
    list-style-type: none;
    background: transparent;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    background: transparent;
}

a {
    color: #ffffff;
    text-decoration: none;
    background: transparent;
}

p {
    font-size: 16px;
}

#quote {
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    font-size: 32px;
}

/*End of Header section*/

/*Start of  About Me section*/
#headshot {
    align-content: center;
    height: 200px;
    width: 150px;

}

#pictureFrame {
    flex-basis: 50%;
    height: 15em;
    padding: 0px;
    display: flex;
    justify-content: center;
}

#aboutMe {
    display: inline-flex;
    margin-bottom: 20px;
    padding: 25px;
    height: -100px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

#aboutMeHeader {
    background: transparent;
    color: black;
    text-align: center;
    font-size: 28px;
    padding-left: 475px;

}



#aboutMe p {
    text-align: center;
    font-size: 24px;
    border: thick;
    border-style: groove;
    border-color: whitesmoke;
    padding-top: 10px;

}




/*End of About Me section*/






/*Projects Section*/

#portfolio h2 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0 20px 0;

}

.projectContainer {
    width: 50%;
    margin: auto;
    
}

/*Game Grab Card*/
.projectContainer1 {
    flex-basis: 50%;
    height: 15em;
    padding: 0px;

}

.projectContainer1 :hover {
    border: solid thick;
    border-color: #F78a10;
}

.projectContent1 {

    flex-basis: 100%;
    height: 100%;
    background-image: url("../images/GameGrabPreview.png");
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: solid thin;
    border-color: #dbdbdb;
}

/* End of Game Grab*/


.projectContainer2 {
    height: 200px;
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  

}

.projectContainer2 a {
    flex-basis: 50%;
    height: 100%;

}

.projectContainer2 :hover {
    border: solid thick;
    border-color: #F78a10;
    
}
/*TaskMaster Pro Card*/
.projectContent2 {
    background-image: url("../images/TaskMasterProPreview.png");
    background-size: cover;
    background-position: top;
    
    
    display: flex;


    flex-wrap: wrap;
    align-items: center;
    border-radius: 25px;
    border: solid thin;
    margin-right: 5px;
    height: 200px;
}

/*End of Taskmaster Pro*/

.projectContent2 a {
    flex-basis: 40%;
    height: 100%;
}

/*Work Day Scheduler Card*/
.projectContent3 {
    display: flex;



    align-items: center;
    border-radius: 25px;
    border: solid thin;
    margin-right: 5px;
    height: 200px;
    background-image: url("../images/WorkDay.png");
    background-size: cover;
    background-position: top;


}

.projectContent3 a {
    flex-basis: 40%;
    height: 100%;
}

.projectContent3 :hover {
    border: solid thick;
    border-color: #F78a10;
}

/*End of Work Day Scheduler*/

.projectContainer3 {
    height: 200px;
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectContainer3 a {
    flex-basis: 50%;
    height: 100%;
}

.projectContainer3 :hover {
    border: solid thick;
    border-color: #F78a10;
}

/*TaskMaster Pro Card*/
.projectContent4 {
    background-image: url("../images/GitDone.png");
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: solid thin;
    margin-right: 5px;
    height: 200px;
}

/*End of Taskmaster Pro*/

.projectContent4 a {
    flex-basis: 40%;
    height: 100%;

}

.projectContent5 {
    background-image: url("../images/runBuddy.png");
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: solid thin;
    margin-right: 5px;
    height: 200px;
}

/*End of Taskmaster Pro*/

.projectContent a {
    flex-basis: 40%;
    height: 100%;
}

/*End of Projects Section*/

/*footer section*/
#contactInfo{
    display: flex;
    text-align: center;
    background-color: transparent;
    width: fit-content;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    background-color: #F78a10;
    font-size: 20px;


}

.footer div {
    padding-top: 15px;
    margin-right: 20px;
    float: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: transparent;

}


.footer div ul {
    list-style-type: none;
    background: transparent;
    padding: 0em;



}

.footer div ul li {
    display: inline-block;
    margin-left: 25px;
    background-color: #F78a10;

}

.footer div ul li a {
    background-color: #F78a10;
}



/*footer section ending*/